.Home-bg{
    background-image:url('/images/Hero_bg.jpg')  ;
    background-size: 100%;
    height: 732px;
    /* width: 100vw; */
    background-repeat: no-repeat;
    display: flex;
    object-fit: fill;}

.Res-bg{
    background-image:url('/images/res_bg.jpg')  ;
    background-size: 100%;
    height: 300px;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    object-fit: fill;}
.heading{
    display: flex;
    position: fixed;
    right:15px;
    font-size: 50px;
    margin-top: 0px;
    color: aqua;
}

.all-rest{
    border-radius: 5px;
    height: 150px;
    width:200px;
}
.rest-text{
    color: rgb(28, 14, 212);
    font-weight: solid;
    font-size: 20px;
    margin-top: 0px;
}
.card{
    margin-left: 215px;
    margin-top: 150px;
    background-color: grey;
    border:2px solid rgb(17, 11, 1);
    height:fit-content
}
